@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
  --background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80');
}

body {
  background: var(--background-image) no-repeat center center fixed;
  padding-top: 15px;
  background-size: cover;
  font-family: 'Limelight', cursive;
  color: rgb(104, 0, 55);
}

.item {
  margin: 0 0 10px;
  position: relative;
}

.box h2 {
  margin: 0;
  font-size: 80px;
  text-align: center;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-size: 50px;
}


html {
  padding: 0 20px; 
}

.img {
  box-sizing: border-box;
  width: 100% !important;
  height: auto !important;
  border: 5px solid rgb(104, 0, 55);
  border-radius: 5px;
}    

.caption {
  display: none;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
}

.caption a {
  color: white;
}

.item:hover .caption {
  display: block;
}

.grid {
 column-count: 3;
}

